#dark1,
#light1,
#dark2 {
  transition: all 1s ease;
}
#dark2 {
  transform: translateX(-100%);
}
svg:hover #light1 {
  transform: translateX(20%);
}
svg:hover #dark1 {
  transform: translateX(40%);
  opacity: 0;
}
svg:hover #dark2 {
  transform: translateX(0%);
}
